[project]
	description = Facebook like webIM UI.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pat (dlutcat)
[access "refs/for/refs/*"]
	read = group user/Pat (dlutcat)
	push = group user/Pat (dlutcat)
	label-Code-Review = -2..+2 group user/Pat (dlutcat)
	label-Verified = -1..+1 group user/Pat (dlutcat)
	rebase = group user/Pat (dlutcat)
	removeReviewer = group user/Pat (dlutcat)
	submit = group user/Pat (dlutcat)
[access "refs/heads/*"]
	read = group user/Pat (dlutcat)
	create = group user/Pat (dlutcat)
	push = +force group user/Pat (dlutcat)
	pushMerge = group user/Pat (dlutcat)
[access "refs/tags/*"]
	push = +force group user/Pat (dlutcat)
	pushTag = group user/Pat (dlutcat)
	pushSignedTag = group user/Pat (dlutcat)
